@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

$primaryLight: #e45c34;
$selectedTitleLight: #e45c34;
$primaryDark: #f4ae95;
$darkestDark: #1e1e1e;
$secondDarkestDark: #2c2c2c;
$greyPrimary: #eceff1;
$primaryBorderColor: #ccc;
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  font-size: 1.2rem;
}
.dark-mode {
  background-color: $darkestDark !important;
  color: #999;
  .toggle {
    background-color: $secondDarkestDark !important;
  }
  .wholetodo {
    background-color: $darkestDark !important;
  }
  .trash {
    color: $primaryDark !important;
  }
  .trash:hover {
    color: #369de7 !important;
  }
  .insidegithub:hover {
    background-color: $secondDarkestDark !important;
  }
  .todo {
    background-color: $primaryDark !important;
    color: #272727 !important;

    .editTask {
      background-color: $primaryDark !important;
      border: 1px solid $primaryDark;
      color: black !important;
    }
    .editTask:hover {
      background-color: #f19a7a !important;
    }
    .editTask:focus {
      background-color: #f19a7a !important;
      border: 1px solid #0276f1 !important;
    }
  }
  .todoCompleted {
    background-color: #272727 !important;
    color: $primaryDark;
    .editTask {
      background-color: #272727 !important;
      border: #272727 !important;
      color: #999 !important;
    }
    .editTask:hover {
      background-color: #444444 !important;
    }
    .editTask:focus {
      background-color: #444444 !important;
      border: 1px solid #0276f1 !important;
    }
  }
  .bottomButton:hover {
    background-color: #f19a7a !important;
  }
  .bottomButtonComplete {
    background-color: #444343 !important;
    color: white !important;
  }

  .bottomButtonComplete:hover {
    background-color: #353434 !important;
  }
  .bottomInput {
    background-color: #272727 !important;
    color: $primaryDark;
    border: 1px solid rgb(51, 51, 51) !important;
  }
  .bottomInput::placeholder {
    color: $primaryDark;
  }
  .topInput {
    background-color: #272727 !important;
    color: $primaryDark;
    border: 1px solid rgb(51, 51, 51) !important;
  }
  .topInput::placeholder {
    color: $primaryDark;
  }
  .clearButton {
    background-color: $primaryDark;
  }
  .clearButton:hover {
    background-color: #f19a7a !important;
    color: black !important;
  }

  .topButton {
    background-color: $primaryDark !important;
  }
  .topButton:hover {
    background-color: #f19a7a !important;
    color: black !important;
  }
  .bottomButton {
    background-color: $primaryDark;
    color: black;
  }
  .clearButton {
    background-color: $primaryDark;
  }
  h1 {
    color: $primaryDark;
  }
}
h1 {
  color: $selectedTitleLight;
  margin: 0;
  margin-top: 120px;
}
.spacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wholetodo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  width: 100%;
  min-height: 100vh;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  background-color: $greyPrimary;
  width: 450px;
  min-height: 75px;
  margin-bottom: 10px;
  .editTask {
    background-color: $greyPrimary;
    border: none;
    font-size: 0.9rem;
    border: 1px solid $greyPrimary;
    padding: 10px 4px;
    width: 400px;
    resize: none;
    font-family: "Raleway", sans-serif;
    min-height: 42px;
    max-height: 500px;
    margin: 8px 0;
  }
  .editTask:hover {
    background-color: #d2e1fa;
  }
  .editTask:focus {
    background-color: #ccddfc;
    border: 1px solid #0276f1;
  }
}
.todoCompleted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  background-color: #ccc;
  text-decoration: line-through;
  width: 450px;
  min-height: 75px;
  margin-bottom: 10px;
  .editTask {
    background-color: #ccc;
    border: none;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    padding: 10px 4px;
    width: 400px;
    font-family: "Raleway", sans-serif;
    min-height: 42px;
    max-height: 500px;
    margin: 8px 0;
    resize: none;
  }
  .editTask:hover {
    background-color: #d2e1fa;
  }
  .editTask:focus {
    background-color: #ccddfc;
    border: 1px solid #0276f1;
  }
}
.trashIcon {
  padding-left: 10px;
  padding-bottom: 20px;
}

.oneLiner {
  word-wrap: break-word;
  width: 430px;
}
.withDaTrash {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchTodos {
  height: 57px;
}
.allTodos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 75px;
}
.topOfTodos {
  width: 100%;
  display: flex;
  min-height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.trash {
  color: $selectedTitleLight;
  cursor: pointer;
}
.trash:hover {
  color: #85331a;
}
.clearButton {
  border: none;
  padding: 5px;
  width: 140px;
  height: 40px;
  background-color: $primaryLight;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 15px;
  color: white;
}
.clearButton:hover {
  background-color: #c44f2c;
}
.bottomButton {
  border: none;
  padding: 10px;
  width: 155px;
  height: 50px;
  background-color: $primaryLight;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
.bottomButton:hover {
  background-color: #c44f2c;
}
.bottomButtonComplete {
  border: none;
  padding: 10px;
  width: 155px;
  height: 50px;
  background-color: $primaryBorderColor;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.formAndClear {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 60px;
}
.topInput {
  padding: 15px;
  width: 350px;
  height: 50px;
  border: 1px solid $primaryBorderColor;
  border-radius: 5px;
}
.bottomInput {
  padding: 5px;
  width: 290px;
  height: 50px;
  border: 1px solid $primaryBorderColor;
  border-radius: 5px;
}
.bottomButtonComplete:hover {
  background-color: #adadad;
}
.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}
.buttonFlexing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  background-color: $greyPrimary;
  position: fixed;
  z-index: 3;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.topButton {
  border: none;
  padding: 10px;
  width: 100px;
  height: 50px;
  background-color: $primaryLight;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}
.topButton:hover {
  background-color: #c44f2c;
  color: white;
}
.inputAndError {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.formatForm {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: 90px;
}
.redtext {
  color: rgb(255, 73, 73);
}

.todo-count {
  margin: 0;
  padding-bottom: 10px;
}
.marginNotification {
  margin-top: 500px;
}
.topFormatting {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.githublink {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  p {
    margin-left: 5px;
  }
  .insidegithub {
    height: 25px;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .insidegithub:hover {
    background-color: $greyPrimary;
  }
}

//media queries

@media (max-width: 900px) {
  .toggle {
    padding-left: 10px;
    padding-right: 30px;
  }
  .githublink {
    display: none;
  }
}
@media (max-width: 540px) {
  .bottomButtonComplete {
    width: 120px;
  }
  .bottomButton {
    width: 120px;
  }
  .todo {
    width: 300px;
    .editTask {
      width: 250px;
    }
  }
  .todoCompleted {
    width: 300px;
    .editTask {
      width: 250px;
    }
  }
  .topInput {
    width: 200px;
  }
  .bottomInput {
    display: none;
  }
  .topFormatting {
    font-size: 1rem;
  }
}
